.flex-column {
  flex-direction: column;
}

.SearchContainer {
  position: relative;
}

.SearchContainer-input {
  border: 1px solid #333333;
  padding: 0.5rem 1rem;
}

.SearchContainer-button {
  border-radius: 0px;
  padding: 0.5rem;
}

.SearchContainer-list {
  background: white;
  top: 2.6rem;
  display: flex;
  flex-direction: column;
  left: 0;
  position: absolute;
  width: 100%;
}

.SearchContainer-list.has-results {
  border: 1px solid #333333;
}

.SearchContainer-list_item {
  padding: 0.5rem 1rem;
}

.SearchContainer-link {
  color: blue;
}
