name: Changesets
on:
  push:
    paths-ignore:
      - 'docs/**'

env:
  CI: true
  PNPM_CACHE_FOLDER: .pnpm-store

permissions:
  id-token: write
  contents: write
  issues: write
  pull-requests: write

jobs:
  release:
    timeout-minutes: 15
    runs-on: ubuntu-22.04
    if: "!contains(github.event.head_commit.message, 'skip ci')"

    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: git config
        run: |
          git config user.name "${GITHUB_ACTOR}"
          git config user.email "${GITHUB_ACTOR}@users.noreply.github.com"

      - name: Setup pnpm
        uses: pnpm/action-setup@v4
        id: pnpm-install
        with:
          run_install: false

      - name: Setup Node
        uses: actions/setup-node@v6
        with:
          node-version: 24
          cache: 'pnpm'

      - name: Install dependencies
        run: pnpm install

      - name: Release It
        run: |
          NODE_AUTH_TOKEN="" pnpm release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
